*.tar.gz
**/*.pem
**/*.csr

admin/admin-csr.json
admin/admin.csr
etcd/etcd-csr.json
etcd/etcd.conf
etcd/etcd.csr
etcd/etcd.service
flannel/flanneld
flannel/flanneld-csr.json
flannel/flanneld.csr
flannel/flanneld.service
master/audit-policy.yaml
master/kube-apiserver.service
master/kube-controller-manager.service
master/kube-scheduler.service
master/kubernetes-csr.json
master/kubernetes.csr
master/token.csv
dns/kube-dns.yaml
node/docker.service
node/kube-proxy.service
node/kubelet.service
